# Email Configuration (for receiving password reset emails)
EMAIL_ADDRESS=your.email@strathmore.edu
EMAIL_PASSWORD=your_email_app_password
IMAP_SERVER=imap.gmail.com

#Email configuration for receiving notification emails(New password will be sent to this email)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
NOTIFICATION_EMAIL=your.email@strathmore.edu

# Strathmore Username(Admission Number)
USERNAME=your_strathmore_username

# Password Configuration
PASSWORD_LENGTH=16

# Logging
LOG_DIRECTORY=passwords
